In [13]:
print('hello world!')
print("Name: ", "Shin ky")
print("Age: ", 30)
print("Grade: ", 4.5)

hello world!
Name:  Shin ky
Age:  30
Grade:  4.5

In [16]:
name = "Shin ky"
math_score = 98
my_height = 185

print(name)
print(math_score)
print(my_height)

Shin ky
98
185

In [17]:
name= "Shin KS"
math_score = 80
height = 165.5

print("name: ", "Shin ky")
print("math_score: ", math_score)
print("height: ", height)

name:  Shin ky
math_score:  80
height:  165.5

In [19]:
name = "Shin KS"
math_score = 80
height = 165.5

print("name: ", "Shin KS")
print("math_score: ", math_score)
print("height: ", height)

name:  Shin KS
math_score:  80
height:  165.5

In [22]:
name = "Shin KS"
math_score = 80
height = 165.5

print("name: ", "Shin KS")
print("math_score: ", math_score)
print("height: ", height)

name:  Shin KS
math_score:  80
height:  165.5

In [23]:
int1 = 4
int2 = 2

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int1 / int2)
print(int1 // int2)
print(int1 % int2)
print(int1**int2)

6
2
8
2.0
2
0
16

In [24]:
int1 =2
int2 = 4

print(int1+int2)
print(int1-int2)
print(int1*int2)
print(int1/int2)
print(int1//int2)
print(int1%int2)
print(int1**int2)

6
-2
8
0.5
0
2
16

In [25]:
int1=5
int2 =3

print(int1+int2)
print(int1-int2)
print(int1*int2)
print(int1/int2)
print(int1//int2)
print(int1%int2)
print(int1**int2)

8
2
15
1.6666666666666667
1
2
125

In [26]:
int1, int2 = 4, 2

add, sub = int1+int2, int1-int2
mul, div = int1*int2, int1/int2
quo, rem = int1//int2, int1%int2
pow = int1**int2

print(add, sub, mul, div, quo, rem, pow)

6 2 8 2.0 2 0 16

In [27]:
int1, int2 = 5, 4

add, sub = int1+int2, int1-int2
mul, div = int1*int2, int1/int2
quo, rem = int1//int2, int1%int2
pow = int1**int2

print(add, sub, mul, div, quo, rem, pow)

9 1 20 1.25 1 1 625

In [28]:
int1, int2 = 4, 2

add, sub = int1+int2, int1-int2
mul, div = int1*int2, int1/int2
quo, rem = int1//int2, int1%int2
pow = int1**int2

print(add, sub, mul, div, quo, rem, pow)

6 2 8 2.0 2 0 16

In [29]:
int1, int2, int3, int4 = 1, 2, 3, 4

dev = 2

rem1, rem2, rem3, rem4 = int1%dev, int2%dev, int3%dev, int4%dev

print(rem1, rem2, rem3, rem4)

1 0 1 0

In [30]:
int1, int2, int3, int4 = 1, 2, 3, 4

dev= 2

rem1, rem2, rem3, rem4 = int1%dev, int2%dev, int3%dev, int4%dev

print(rem1, rem2, rem3, rem4)

1 0 1 0

In [31]:
int1, int2, int3, int4 = 4, 5, 6, 7

dev=3

rem1, rem2, rem3, rem4 = int1%dev, int2%dev, int3%dev, int4%dev

print(rem1, rem2, rem3, rem4)

1 2 0 1

In [32]:
int1, int2, int3, int4 = 6, 7, 8, 9

dev=4

rem1, rem2, rem3, rem4 = int1%dev, int2%dev, int3%dev, int4%dev

print(rem1, rem2, rem3, rem4)

2 3 0 1

In [34]:
score = 10

score+=10
print(score)

score-=10
print(score)

score*=5
print(score)

score/= 5
print(score)

score**=5
print(score)

20
10
50
10.0
100000.0

In [36]:
score = 10
score+= 10
print(score)

score-=2
print(score)

score*=5
print(score)

score/=5
print(score)

score**=2
print(score)

20
18
90
18.0
324.0

In [38]:
score=10
score+=10
print(score)

score-=2
print(score)

score*=5
print(score)

score/=2
print(score)

score**=5
print(score)

20
18
90
45.0
184528125.0

In [1]:
score1, score2, score3 = 10, 20, 30
score_sum = score1+score2+score3

print("sum of score: ", score_sum)

sum of score:  60

In [2]:
score1, score2, score3 = 20, 30, 40
score_sum = score1+score2+score3

print(score_sum)

90

In [3]:
score1, score2, score3 = 10, 20, 30
score_sum = score1+score2+score3

print(score_sum)

60

In [4]:
score1, score2, score3 = 10, 20, 30
score_sum = score1+score2+score3

print(score_sum)

60

In [5]:
score1, score2, score3 = 10, 20, 30
n_student = 3

score_mean = (score1+score2+score3)/ n_student

print(score_mean)

20.0

In [6]:
score1, score2, score3 = 30, 40, 50
n_student = 3

score_sum = score1+score2+score3

score_mean = score_sum / n_student
print(score_mean)

40.0

In [7]:
score1, score2, score3 = 10, 20, 30
n_student = 3

score_sum = score1+score2+score3

score_mean = score_sum / n_student

print(score_mean)

20.0

In [8]:
score1, score2, score3 = 10, 20, 30
n_student = 3

mean = (score1+score2+score3)/n_student
print(mean)

score1+=10
score2+=10
score3+=10

mean = (score1+ score2+score3)/ n_student
print(mean)

20.0
30.0

In [9]:
score1, score2, score3 = 10, 20, 30
n_student = 3

mean = (score1+score2+score3) / n_student

print(mean)

score1+= 20
score2+= 20
score3+= 20

mean = (score1+ score2+score3) / n_student
print(mean)

20.0
40.0

In [11]:
score1, score2, score3 = 10, 20, 30
n_student = 3

mean = (score1+score2+score3)/n_student

score1+= 10
score2+= 10
score3+= 10

mean = (score1+score2+score3)/n_student

print(mean)

30.0

In [13]:
score1, score2, score3 = 10, 20, 30
n_student = 3

score_mean = (score1+score2+score3)/ n_student
print(score_mean)

score1 -= score_mean
score2 -= score_mean
score3 -= score_mean

score_mean = (score1+score2+score3) /n_student

print(score_mean)

20.0
0.0

In [14]:
score1, score2, score3 = 10, 20, 30
n_student = 3

mean = (score1+score2+score3)/ n_student
print(mean)

score1 -= mean
score2-=mean
score3-=mean

mean = (score1+score2+score3) /n_student
print(mean)

20.0
0.0

In [15]:
# mean을 구하여 기존에 변수들에게 '-'복합연산을 하고 다시 mean을 구하게 되면 mean = 0
score1, score2, score3 = 10, 20, 30
n_student= 3

mean = (score1+score2+score3) / n_student

score1-=mean
score2-=mean
score3-=mean

mean= (score1+score2+score3)/n_student

print(mean)

0.0