In [4]:
score = 80

if score > 50:
    print('pass!')

pass!

In [3]:
score = 54

if score > 50:
    print('pass!')

pass!

In [5]:
score = 80
cutoff = 50

if score > cutoff:
    print('pass!')
else:
    print('Try again!')

pass!

In [7]:
score = 40
cutoff = 50

if score > cutoff:
    print('pass!')
else:
    print('Try again!')

Try again!

In [10]:
score = 60
cutoff = 50

if score > cutoff:
    print('pass!')
else:
    print('Try again!')

pass!

In [12]:
seconds = 200

if seconds > 60:
    minutes = seconds // 60
    seconds -= minutes*60
else:
    minutes = 0
    
print(minutes, 'min', seconds, 'seconds')

3 min 20 seconds

In [13]:
seconds = 200

if seconds > 60:
    minutes = seconds // 60
    seconds -= minutes*60
else:
    minutes = 0

print(minutes, 'minutes', seconds, 'secondes')

3 minutes 20 secondes

In [17]:
seconds = 60

if seconds > 60:
    minutes = seconds//60
    seconds -= minutes*60
else:
    minutes=0

print(minutes,'minutes', seconds,'secondes')

0 minutes 60 secondes

In [21]:
seconds = 200

if seconds >= 60:
    minutes = seconds//60
    seconds = minutes*60
else:
    minutes=0
    
print(minutes,'minutes', seconds,'secondes')

3 minutes 180 secondes

In [22]:
seconds = 5000

if seconds >= 3600:
    hours = seconds//3600
    seconds -= hours*3600
else:
    hours = 0
    
if seconds >= 60:
    minutes = seconds//60
    seconds -= minutes*60
else:
    minutes = 0
    
print(hours, 'hours', minutes,'minutes', seconds,'secondes')

1 hours 23 minutes 20 secondes

In [25]:
seconds = 5000

if seconds >= 3600:
    hours = seconds//3600
    seconds -= hours*3600
else:
    hours=0

if seconds >= 60:
    minutes = seconds//60
    seconds -= minutes*60
else:
    minutes = 0
print(hours, 'hours', minutes,'minutes', seconds, 'seconds')

1 hours 23 minutes 20 seconds

In [26]:
seconds = 5000

if seconds >= 3600:
    hours = seconds//3600
    seconds -= hours*3600
else:
    hours=0

if seconds >= 60:
    minutes = seconds//60
    seconds-= minutes*60
else:
    minutes = 0
print(hours, 'hours', minutes, 'minutes', seconds, 'seconds')

1 hours 23 minutes 20 seconds

In [27]:
number =10

if number % 2 == 0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

짝수 입니다.

In [28]:
number = 15

if number % 2 == 0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

홀수 입니다.

In [29]:
number = 20

if number % 2==0:
    print('Even!')
else:
    print('Odd!')

Even!

In [35]:
num1, num2 = 30, 10

if num1 > num2:
    print('First Number')
elif num1 == num2:
    print('Equal')
else:
    print('Seconds Number')

First Number

In [36]:
num1, num2 = 10, 10

if num1 > num2:
    print('First Number')
elif num1 == num2:
    print('Equal')
else:
    print('Seconde Number')

Eqaul

In [37]:
num1, num2 = 10, 20

if num1 > num2:
    print('First Number')
elif num1 ==num2:
    print('Equal')
else:
    print('Seconds Number')

Seconds Number

In [38]:
score = 90

if score >= 80:
    grade = 'A'
elif score > 60:
    grade = 'B'
elif score > 40:
    grade = 'C'
else:
    grade = 'F'

print(grade)

A

In [39]:
score = 80

if score > 80:
    grade = 'A'
elif score >60:
    grade = 'B'
elif score >40:
    grade= 'c'
else:
    grade ='F'
print(grade)

B

In [40]:
score = 40

if score > 80:
    grade = 'A'
elif score > 60:
    grade = 'B'
elif score > 40:
    grade = 'C'
else:
    grade = 'F'
print(grade)

F